body {
	min-width: 320px;
	font: 12px/1.2 arial, helvetica, sans-serif;
	color: #2e211c;
}

button,
[type=reset],
[type=submit],
[type=image],
a {
	-webkit-transition: background-color .2s, color .2s;
	transition: background-color .2s, color .2s;
}

img {
	display: block;
	height: auto;
	max-width: 100%;
}

b,
strong {
	font-weight: 700;
}

i,
em {
	font-style: italic;
}

p {
	margin: 0 0 15px;
}

h1{
	font: 70px/1 $RobotoT;
}

%list-reset {
	list-style: none;
	margin: 0;
	padding: 0;
}

%clearfix {
	&:after {
		content: '';
		display: table;
		clear: both;
	}
}
