$mobile: 320px;
$tablet: 768px;
$desktop: 1025px;

$mob-max: "max-width: $tablet - 1";
$mob-min: "min-width: $mobile";
$tab-max: "max-width: $desktop - 1";
$tab-min: "min-width: $tablet";
$desk-min: "min-width: $desktop";

$RobotoT: 'RobotoThin', Arial, sans-serif;
$RobotoR: 'RobotoRegular', Arial, sans-serif;
$RobotoL: 'RobotoLight', Arial, sans-serif;


$fi: 'font-ico';

$fi-ico-arrow: "\e901";
$fi-ico-done: "\e900";
$fi-ico-about: "\e911";
$fi-ico-experience: "\e912";
$fi-ico-info: "\e913";
$fi-ico-js: "\e914";