.navbar{
	background: #fff;
	z-index: 100 !important;
}
.nav{
	height: 80px;
	position: relative;
	text-align: center;
	&:after{
		content:"";
		position: absolute;
		bottom: 0;
		left: -99999px;
		right: -99999px;
		background: #d9d9d9;
		height: 1px;
	}
	li{
		display:inline-block;
		padding: 0 36px;
	}
	a{
		text-decoration: none;
		font: 14px/80px $RobotoL;
		color: #435993;
		display: block;
		&:hover{
			color: #1c1c1c;
		}
		&.active{
			color: #1c1c1c;
		}
	}
}
.slicknav_menu {
	display:none;
}


@media screen and (max-width: 768px) {
	.nav{
		height: auto;
		display: block;
		position: static;
		&:after{
			display: none;
		}
		li{
			padding: 0;
		}
	}
	#menu {
		display:none;
	}
	.slicknav_menu {
		display:block;
	}
	.sticky-wrapper{
		height: auto !important;
	}
}