.navbar{
	background: #fff;
	z-index: 100 !important;
}
.nav{
	height: 80px;
	position: relative;
	text-align: center;
	&:after{
		content:"";
		position: absolute;
		bottom: 0;
		left: -99999px;
		right: -99999px;
		background: #d9d9d9;
		height: 1px;
	}
	li{
		display:inline-block;
		padding: 0 36px;
	}
	a{
		text-decoration: none;
		font: 14px/80px $RobotoL;
		color: #435993;
		display: block;
		&:hover{
			color: #1c1c1c;
		}
		&.active{
			color: #1c1c1c;
		}
	}
}
.slicknav{
	&_menu{
		display:none;
		font-size: 16px;
		box-sizing: border-box;
		background: #4c4c4c;
		padding: 5px;
		* {
			box-sizing: border-box;
		}
		.slicknav_menutxt {
			color: #fff;
			font-weight: bold;
			text-shadow: 0 1px 3px #000;
			display: block;
			line-height: 1.188em;
			float: left;
		}
		.slicknav_icon-bar {
			background-color: #fff;
			display: block;
			width: 1.125em;
			height: 0.125em;
			-webkit-border-radius: 1px;
			-moz-border-radius: 1px;
			border-radius: 1px;
			-webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
			-moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
			box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
		}
		.slicknav_icon {
			float: left;
			width: 1.125em;
			height: 0.875em;
			margin: 0.188em 0 0 0.438em;
			&:before { // Firefox Mobile v42 bugfix
				background: transparent;
				width: 1.125em;
				height: 0.875em;
				display: block;
				content: "";
				position: absolute;
			}
		}
		.slicknav_no-text {
			margin: 0;
		}
		&:before {
			content: " ";
			display: table;
		}
		&:after {
			content: " ";
			display: table;
			clear: both;
		}
	}
	&_btn {
		margin: 5px 5px 6px;
		text-decoration: none;
		text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
		background-color: #222;
		position: relative;
		display: block;
		vertical-align: middle;
		float: right;
		padding: 0.438em 0.625em 0.438em 0.625em;
		line-height: 1.125em;
		cursor: pointer;
		.slicknav_icon-bar + .slicknav_icon-bar {
			margin-top: 0.188em;
		}
	}
	&_nav {
		color: #fff;
		margin: 0;
		padding: 0;
		font-size: 0.875em;
		list-style: none;
		overflow: hidden;
		clear: both;
		ul {
			display: block;
			list-style: none;
			overflow: hidden;
			padding: 0;
		}
		li {
			display: block;
		}
		.slicknav_row {
			padding: 5px 10px;
			margin: 2px 5px;
			&:hover {
				-webkit-border-radius: 6px;
				-moz-border-radius: 6px;
				border-radius: 6px;
				background: #ccc;
				color: #fff;
			}
		}
		a {
			padding: 5px 10px;
			text-decoration: none;
			color: #fff;
			display: block;
			&:hover,
			&.active {
				-webkit-border-radius: 6px;
				-moz-border-radius: 6px;
				border-radius: 6px;
				background: #ccc;
				color: #222;
			}
		}
	}
}



@media screen and (max-width: 768px) {
	.nav{
		height: auto;
		display: block;
		position: static;
		&:after{
			display: none;
		}
		li{
			padding: 0;
		}
		a{
			line-height: 2;
		}
	}
	#menu {
		display:none;
	}
	.slicknav_menu {
		display:block;
	}
	.sticky-wrapper{
		height: auto !important;
	}
}