.input-gray{
	background: #fff;
	outline: none;
	border: 1px solid #e8e8e8;
	font: 24px/1 $RobotoR;
	color: #c8c8c8;
	border-radius: 5px;
	padding: 15px;
	&::-webkit-input-placeholder {
		color: inherit;
		opacity: 1;
	}
	&::-moz-placeholder {
		color: inherit;
		opacity: 1;
	}
	&:-ms-input-placeholder {
		color: inherit;
		opacity: 1;
	}
}