.progress{
	&-wrap{
		position: relative;
	}
	&-list{
		background: #fff;
		font-size: 0;
		line-height: 0;
		letter-spacing: 0;
		&:after{
			content: "";
			display: table;
			clear: both;
			width: 100%;
		}
		li{
			position: relative;
			width: 24%;
			display:inline-block;
			vertical-align: bottom;
			font: 13px/19px $RobotoR;
			&:nth-child(2),
			&:nth-child(3){
				width: 26%;
			}
			&:last-child{
				text-align: right;
			}
			&:before{
				content:"";
				position: absolute;
				top:100%;
				left: 0;
				height: 25px;
				width: 1px;
				background: #fff;
				border-left: 1px dotted #b4b4b4;
			}
			&:last-child{
				&:before{
					left: auto;
					right: 0;
				}
			}
		}
	}
	&.ui-widget.ui-widget-content{
		height: 15px;
		background: #e8e8e8;
		border-radius: 0;
		clip-path: url(#clipping);
	}
	&.ui-slider .ui-slider-handle{
		margin-top: 23px;
		border: none;
		background: none;
		font-weight: normal;
		width: 22px;
		height: 25px;
		margin-left: -11px;
		cursor: pointer;
		&:before{
			content: $fi-ico-marker;
			font: 25px $fi;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}
	.ui-slider-range{
		background: #d7b3f4;
		background: -moz-linear-gradient(left,  #d7b3f4 0%, #c2a7e7 19%, #a595d5 36%, #6c77b5 64%, #5b6bab 75%, #596ba9 75%, #3f5e9c 90%, #345996 100%);
		background: -webkit-linear-gradient(left,  #d7b3f4 0%,#c2a7e7 19%,#a595d5 36%,#6c77b5 64%,#5b6bab 75%,#596ba9 75%,#3f5e9c 90%,#345996 100%);
		background: linear-gradient(to right,  #d7b3f4 0%,#c2a7e7 19%,#a595d5 36%,#6c77b5 64%,#5b6bab 75%,#596ba9 75%,#3f5e9c 90%,#345996 100%);
	}
	@media(max-width:767px){
		&-list{
			li{
				font-size: 11px;
				padding-right: 8px;
				&:last-child{
					padding-right: 0;
					padding-left: 8px;
				}
			}
		}
	}
}
.slider-marker{
	span{
		position: absolute;
		height: 10px;
		width: 1px;
		background: #fff;
		left: 50%;
		bottom: 0;
		z-index: 1;
		&:first-child{
			left: 24%;
			height: 8px;
		}
	}
}
